.statistics {
  margin: 0 auto 20px;
  font-family: Roboto;
  display: block;
  width: 360px;
  text-align: center;
  background-color: #fff;
  padding: 15px;
}

.title {
  margin-bottom: 10px;
}

.stat-list {
  display: flex;
  justify-content: center;
}

.item {
  min-width: 60px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.label {
  margin-bottom: 5px;
}
